//
// Badges
// --------------------------------------------------


// Base classes
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px; // TODO: variable?
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $grayLight;
  border-radius: 10px;

  // Empty badges collapse
  &:empty {
    display: none;
  }
}

// Hover state, but only for links
a.badge { // TODO: don't be so specific with the <a> tag here
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }
}

// Quick fix for badges in buttons
.btn {
  .badge {
    position: relative;
    top: -1px;
  }
}
.btn-mini {
  .badge {
    top: 0;
  }
}

// Account for counters in navs
.nav-pills > li > a > .badge {
  margin-left: 3px;
}

// Colors
// Only give background-color difference to links (and to simplify, we don't qualifty with `a` but [href] attribute)

// Danger (red)
.badge-danger            { background-color: $labelBgDanger; }
.badge-danger[href]      { background-color: darken($labelBgDanger, 10%); }
// Warnings (orange)
.badge-warning           { background-color: $labelBgWarning; }
.badge-warning[href]     { background-color: darken($labelBgWarning, 10%); }
// Success (green)
.badge-success           { background-color: $labelBgSuccess; }
.badge-success[href]     { background-color: darken($labelBgSuccess, 10%); }
// Info (turquoise)
.badge-info              { background-color: $labelBgInfo; }
.badge-info[href]        { background-color: darken($labelBgInfo, 10%); }
