//
// Navs
// --------------------------------------------------


// Base class
// --------------------------------------------------

.nav {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include tb_clearfix;
}
.nav > li {
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px; // TODO: nav item padding should be a var
  // caret color should match the text color
  .caret { border-top-color: $linkColor; }
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: $grayLighter;
}

// Redeclare pull classes because of specifity
// TODO: consider making these utilities !important to avoid this bullshit
.nav > .pull-right {
  float: right;
}



// Nav variations
// --------------------------------------------------

// Tabs
// -------------------------

// Give the tabs something to sit on
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
// Make the list-items overlay the bottom border
.nav-tabs > li {
  float: left;
  // Make the list-items overlay the bottom border
  margin-bottom: -1px;
}
// Actual tabs (as links)
.nav-tabs > li > a { // TODO: don't be so specific limiting this to an <a> tag
  margin-right: 2px;
  line-height: $lineHeightBase;
  border: 1px solid transparent;
  border-radius: $borderRadiusBase $borderRadiusBase 0 0;
  &:hover { // TODO: should this have a :focus as well?
    border-color: $grayLighter $grayLighter #ddd; // TODO: tab border colors should be vars
  }
}
// Active state, and it's :hover to override normal :hover
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus { // TODO: don't be so specific limiting this to an <a> tag
  color: $gray;
  background-color: $bodyBackground;
  border: 1px solid #ddd; // TODO: tab border colors should be vars
  border-bottom-color: transparent;
  cursor: default;
  // caret color should match the text color
  .caret { border-top-color: $gray; }
}

// Pills
// -------------------------

.nav-pills > li {
  float: left;
}

// Links rendered as pills
.nav-pills > li > a { // TODO: don't be so specific limiting this to an <a> tag
  border-radius: 5px;
}
.nav-pills > li + li > a { // TODO: don't be so specific limiting this to an <a> tag
  margin-left: 2px; // TODO: this pill spacing matches tab spacing, use a var
}

// Active state
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus { // TODO: don't be so specific limiting this to an <a> tag
  color: #fff;
  background-color: $linkColor; // TODO: this bg color should be inherited from global menu styling
  // carets and badges should match the text color
  .caret { border-top-color: #fff; }
  // badges appear with reverse contrast
  .badge {
    color: $linkColor;
    background-color: #fff;
  }
}

// Stacked pills
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li > a { // TODO: don't be so specific limiting this to an <a> tag
  margin-top: 2px;
  margin-left: 0; // no need for this gap between nav items
}

// Justified nav links
// -------------------------

.nav-justified {
  // Negative margin doesn't work, so we hack it
  max-height: 40px;
}
.nav-justified > li {
  float: none;
  display: table-cell;
  width: 1%;
  text-align: center;
}

// Lists
// -------------------------

.nav-list > li > a { // TODO: don't be so specific limiting this to an <a> tag
  margin-bottom: -1px; // pull up the following link for a 1px border between
  border: 1px solid #e5e5e5; // TODO: all this nav-list appearance stuff should be inherited from global menu styling
}
.nav-list > li:first-child > a { // TODO: don't be so specific limiting this to an <a> tag
  @include tb_border-top-radius($borderRadiusBase);
}
.nav-list > li:last-child > a { // TODO: don't be so specific limiting this to an <a> tag
  @include tb_border-bottom-radius($borderRadiusBase);
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus { // TODO: don't be so specific limiting this to an <a> tag
  z-index: 2; // Bring active item forward so border sits on top of next element
  color: #fff;
  background-color: $linkColor;
  border-color: $linkColor;
  // carets and badges should match the text color
  .caret { border-top-color: #fff; }
  // badges appear with reverse contrast
  .badge {
    color: $linkColor;
    background-color: #fff;
  }
}



// Nav states and addons
// --------------------------------------------------

// Disabled state
// -------------------------

// Gray out text
.nav > .disabled > a { // TODO: don't be so specific limiting this to an <a> tag
  color: $grayLight;
  // caret color should match the text color
  .caret { border-top-color: $grayLight; }
}
// Nuke hover effects
.nav > .disabled > a:hover,
.nav > .disabled > a:focus { // TODO: don't be so specific limiting this to an <a> tag
  color: $grayLight;
  text-decoration: none;
  background-color: transparent;
  cursor: default;
  // caret color should match the text color
  .caret { border-top-color: $grayLight; }
}

// Nav headers (for dropdowns and lists)
// -------------------------

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: $lineHeightBase;
  color: $grayLight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  text-transform: uppercase;
}
// Space them out when they follow another list item (link)
.nav li + .nav-header {
  margin-top: 9px;
}

// Dividers (basically an hr) within the dropdown
.nav .divider {
  @include tb_nav-divider; // TODO: this should be a global menu style mixin
}



// Tabbable tabs
// -------------------------

// Clear any floats
.tabbable {
  @include tb_clearfix;
}

// Show/hide tabbable areas
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}



